@import url('reset/normalize.css');
@import url('reset/reset.css');
@import url('variables.css');
@import url('buttons/dropDown.css');


body {
    height: 100vh;

}

#navigation {
    background-color: #98A8F8;
    height: 150px;

}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

h1 {
    font-size: 2em;

}

#filters {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;

}
