@import url('reset/normalize.css');
@import url('reset/reset.css');
@import url('variables.css');
@import url('buttons/dropDown.css');
@import url('buttons/dropDown2.css');
@import url('buttons/editRemove.css');
@import url('buttons/create.css');
@import url('item/item.css');

::-webkit-scrollbar {
    appearance: none;
    width: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pastel);
    display: flex;
    flex-direction: column;
}

#navigation {
    background-color: #98A8F8;
    min-height: 90px;

}

#create_item {
    min-width: 50%;
    align-self: flex-start;

}


#create_item  p[activated ='false'] {
    transform: translate(10px, var(--placeHoderY));
    transition: all .5s ease-in-out;

}

#create_item  p[activated = 'true']  {
    transform: translate(0, 0);
    transition: all .5s ease-in-out;

}



#create_item input[type="text"],#create_item input[type="text"]:focus {
    width: calc(100% - 20px);
    height: 30px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #00000040;
}

.container {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 15px 0;
    flex-grow: 1;
    overflow-y: scroll;
}

footer {
    background-color: #98A8F8;
    padding: 10px 0;

}

footer .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    transform: translateY(5px);

}

#filters {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
