/* project colors */
:root {
    --black: #181818;
    --delete: #FF5858;
    --edit: #CDFCF6;
    --gray: #D8D8D8;
    --lilac: #BCCEF8;
    --pastel: #FAF7F0;
    --purple: #98A8F8;
    --white: #F9F9F9;

}


/* dropDown */
.drop_down,.drop_down2,#create_item {
    --imgSpace: 20px;
    --arrowSize: min(70%, var(--imgSpace));
    --dropWidth: 30%;
    --inputHeight: 30px;
    --clickArea: calc(1em + var(--inputHeight));
    --placeHoderY: calc((var(--inputHeight)/2) + (1em/2));
    --optionsHeight: 59px;

}
