@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap');

:root {

  /* colors */
  --black: #181818;
  --delete: #FF5858;
  --edit: #CDFCF6;
  --gray: #D8D8D8;
  --lilac: #BCCEF8;
  --pastel: #FAF7F0;
  --purple: #98A8F8;
  --white: #F9F9F9;

  /* font */
  --montserrat: "Montserrat", sans-serif;
}
