/* area click */
.click {
    position: absolute;
    width: 100%;
    height: var(--clickArea);
    z-index: 2;

}


.drop_down {
    min-width: var(--dropWidth);
    position: relative;
    
}


/* arrown */
.drop_down img[activated][alt='arrow'] {
    height: var(--arrowSize);
    position: absolute;
    right: 0;
    top: calc(50% - (var(--arrowSize)/2));
    transition: all .5s ease-in-out;
    
}

.drop_down img[activated='true'][alt='arrow'] {
    transform: rotate(180deg);

}




.drop_down .filter {
    text-align: left;
    border: none;
    box-shadow: 0px 0px 4px #00000040;
    padding: 0 var(--imgSpace) 0 10px;
    background-color: #ffffff;
    min-width: 100%;
    height: var(--inputHeight);
    position: relative;
    border-radius: 10px;

}



/* options */
.drop_down div[options] {
    position: absolute;
    width: 100%;
    margin-top: 4px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #00000040;
    overflow-y: scroll;
    transition: all .5s ease-in-out;

}

/* .drop_down div[options]::-webkit-scrollbar {
    appearance: none;
    width: 0px;

} */

.drop_down div[options = 'open'] {
    max-height: var(--optionsHeight);
}

.drop_down div[options = 'close'] {
    max-height: 0px;

}

.drop_down div[options = 'open'] ul, div[options = 'close'] ul {
    display: flex;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    flex-direction: column;
    gap: 5px;
}




/* placeHoder */
.drop_down p[activated] {
    position: relative;
    z-index: 1;
    transition: all .5s ease-in-out;

}


.drop_down p[activated ='false'] {
    transform: translate(10px, var(--placeHoderY));
    
}

.drop_down p[activated = 'true']  {
    transform: translate(0, 0);

}