@import url("/style/variables.css");

.container__list {
  align-items: center;
  background-color: var(--pastel);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__item {
  align-items: center;
  background-color: var(--lilac);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--gray);
  display: flex;
  height: 40px;
  justify-content: space-around;
  margin: 5px;
  padding-right: 3px;
  width: 90%;
}

.card__item>input[type='checkbox']:checked+div {
  background-color: var(--gray);
  /* text-decoration: line-through; */
}

.card__situation {
  align-items: center;
  background-color: rgb(102, 233, 183);
  border-radius: 10px;
  display: flex;
  height: 30px;
  margin: 0 3px;
  padding: 0 2px 0 2px;
}

.situation__label {
  border-right: 1px solid var(--black);
  padding: 5px;
}

.situation__item {
  padding: 5px;
}

.button__delete {
  align-items: center;
  background-color: var(--delete);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.button__edit {
  align-items: center;
  background-color: var(--edit);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.button__checkbox {
  margin-left: 3px;
}
