.item {
  background-color: #BCCEF8;
  height: 35px;
  width: min(100%,1400px);
  border-radius: 10px;
  margin: 0px auto;
  transition: all .5s ease-in-out;
  
}

.item[excluding] {
  opacity: 0;
  height: 0px;
  margin: 0 auto;
  transition: all .5s ease-in-out;

}

.item_container[excluding] {
  min-height: 0px;
  margin: 0px auto;
  transition: all .5s ease-in-out;

}

.item[drag] {
  opacity: 0;
  transition: all .5s ease-in-out;

}

.item_container {
  width: 90%;
  margin: 5px auto;
  transition: all .5s ease-in-out;

}

.item .container {
  flex-direction: row;
  gap: 5px;
  width: 97%;

}

input:disabled {
  background-color: #ffffff;
  color: #000000;
}

.field {
  appearance: none;
  height: 65%;
  border: none;
  outline: none;

}

.text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

}

#checked {
  min-width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: #ffffff;

}

#checked:checked {
  background-color: #8EECA8;
  background-image: url('../image/checkmark.svg');
  background-position: center center;

}

.item #tag {
  width: 40%;
  padding-left: 10px;
  border-right: 2px solid #b9cff6;
  border-radius: 15px 0 0 15px;

}

.item #order {
  width: 60%;
  border-radius: 0 15px 15px 0;

}
